@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body class="mainindex-body">
    <div class="text-center">
        <h1 class="display-4">Wilkommen beim Store Client</h1>
        <div class="index-text"> 
            <p>Hier können Sie das Inventar und Bestellungen sehen und können Bestellungen aufgeben oder neue Produkte zum Inventar hinzufügen</p>
        </div>
    </div>
</body>
