
@{
    ViewData["Title"] = "Report Page";
}

<head>
    <div class="text-center">
        <h3>Ihre Bestellübersicht für die Ent.-ID 237667632:</h3>
    </div>
    <div>
        <p>Bestellnummer: 69926733</p>
        <table class="report-table">
            <tr>
                <th>Produkt-ID</th>
                <th>Produktname</th>
                <th>Bestellt am</th>
                <th>Ankunft am</th>
                <th>Bestellstatus</th>
            </tr>
            <!--Hier mit for schleife durch die DB gehen und so viele <tr> und <td> erstellen und befüllen-->
            <tr>
                <td>999842</td>
                <td>Kekse</td>
                <td>20.02.2022</td>
                <td>23.02.2022</td>
                <td>Abgepackt</td>
            </tr>
        </table>
    </div>
</head>
