@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Enterprise Server</h1>
    <p>Hier können Sie die Berichte über Ihre Bestellungen erstellen, die Ihnen die Ankunftszeiten angeben</a></p>
</div>

