@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="text-center">
        <h4> Bitte geben Sie ihre Enterprise ID an um</h4>
        <h4> eine Bestellübersicht zu erhalten</h4>
    </div>
    <div class="text-center">
        <div>
            <input class="enterprise-id" type="password" name="enterpriseid" placeholder="Enterprise ID" value="">
        </div>
        <div class="report-button">
            <a class="btn" asp-area="" asp-controller="Report" asp-action="Report">Bericht erstellen</a>
        </div>
    </div>
</body>

