@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="text-center">
        <h4> Bitte geben Sie ihre Enterprise ID an um</h4>
        <h4> eine Bestellübersicht zu erhalten</h4>
    </div>
    <div class="text-center">
        <div class="enterprise-id">
            <input type="password" name="enterpriseid" placeholder="Enterprise ID" value="">
        </div>
        <div class="report-button">
            <button name="reportbtn">Bericht erstellen</button>
        </div>
    </div>
</body>

