
@{
    ViewData["Title"] = "FinishedSale";
}

<h1>Bezahlung</h1>

<div class="text-center">
    <a class="navbar-brand" asp-area="" asp-controller="CashRegisterSystem" asp-action="PayCash">Kartenzahlung</a>
    <a class="navbar-brand" asp-area="" asp-controller="CashRegisterSystem" asp-action="PayCard">Barzahlung</a>
</div>

