<head>
  <style>
    #navigation {
      text-align: center;
      color: white;
    }
      #navigation a {
        color: white;
        text-decoration: underline;
        font-weight: 600;
      }
   #navigation  a:hover {
     color: rgba(80,100,120,1);
   }
    
  </style>
</head><div id="navigation">
  <h1>Navigation</h1>
  <div class="container">
    <div class="row d-flex justify-content-center">
      <a class="navbar-brand col-xs-1" [routerLink]="['/customer-display']" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}">Customer Display</a>
    </div>
    <div class="row d-flex justify-content-center">

      <a class="navbar-brand col-xs-1" [routerLink]="['/cash-register']" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}">Cash Register Display</a>
    </div>
    <div class="row d-flex justify-content-center">

      <a class="navbar-brand col-xs-1" [routerLink]="['/scanner']" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}">Scanner</a>
    </div>
    <div class="row d-flex justify-content-center">

      <a class="navbar-brand col-xs-1" [routerLink]="['/cashbox']" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}">Cash Box</a>
    </div>
    <div class="row d-flex justify-content-center">

      <a class="navbar-brand col-xs-1" [routerLink]="['/printer']" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}">Printer</a>
    </div>
    <div class="row d-flex justify-content-center">

      <a class="navbar-brand col-xs-1" [routerLink]="['/lightdisplay']" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}">Express Light</a>
    </div>
  </div>

  </div>
